swagger: '2.0'
info:
  version: 1.0.3
  title: registries_coupons-v1
  description: Api to get list of registry coupons associated with the registries
host: api.target.com
schemes:
  - https
basePath: /registries_coupons/v1
produces:
  - application/json
consumes:
  - application/json
x-api-definition:
  dependencies: []
  api_name: registries_coupons-v1
  personnel:
    portfolio: Digital
    owner: Indrakumar.Thimmaiah
    development_team: Registries Team
    developers:
      - Shashi.Sharma
      - Parthasarathy.Hd
      - Kiran.Shivalingaiah
      - RAJESHKANNAN.BALU
      - Kundanam.Sreenivas
      - Lakshmi.A2
      - MohanaSundaram.A
      - Bhavya.Neelgar
      - Aravind.Thonupunuri
      - Gopika.Jayakumar
    enterprise_architect:
      - Maria.Brinas-Dobrowski
  compliance_designations:
    - None
  api_type: TENANT
  lifecycle_status: BUILD
  production_date: null
  retirement_date: null
  api_framework: Micronaut
  overall_data_classification: PUBLIC
  business_criticality: P2
  service_now_ci: CI02875146
  workload_placements:
    - where: core
      platform: tap
      proxy_pattern: side-car
  notification_ids:
    - description: ShuttleIO
      id: 360f50749fa3db6dc75dc9d2bfb8cba9
    - description: slack
      id: GQ10ZD7UZ
  slack_channel_id: GQ10ZD7UZ
  nuid_ad_groups: [APP-BACKPACK-REGISTRY-PROD-READ]
  risk_rating: MEDIUM
  last_pentest_date: null
  links:
    issue_tracker: https://git.target.com/Registry-Modernization/backpack_registrycoupons/issues
    api_wiki_page: null
    code_repository: https://git.target.com/Registry-Modernization/backpack_registrycoupons
    ci_pipeline: https://git.target.com/Registry-Modernization/backpack_registrycoupons
    documentation_links:
      - https://git.target.com/Registry-Modernization/backpack_registrycoupons/blob/master/README.md
    logging_link:
      - http://platform.logging.target.com/goto/b6dc02a192efa17b59c15e539143ecaf
    metrics_link:
      - https://visualize.target.com/d/KXWja4RMk/target-platform-metrics-backpackregistry?orgId=1
    monitoring_link:
      - https://www.thalamus.target.com
    support_team_contact: TargetIndia-TTS-GRWS-Dev@Target.com
    api_spec: https://git.target.com/Registry-Modernization/backpack_registrycoupons/blob/master/api-spec/backpack-registry-coupons-v1.yml
  endpoints:
    external:
      production: https://api.target.com/registries_coupons/v1
      stage: https://stage-api.target.com/registries_coupons/v1
      qa: null
      ci: null
    internal:
      production: https://api-internal.target.com/registries_coupons/v1
      stage: https://stgapi-internal.target.com/registries_coupons/v1
      qa: null
      ci: null
securityDefinitions:
  gsp_oauth:
    type: oauth2
    authorizationUrl: 'http://gsp.target.com/gsp/oauth_tokens/v2/keys/'
    flow: implicit
    scopes: {}
paths:
  '/{registry_id}':
    x-data_classification: PUBLIC
    get:
      x-incident_priority: P4
      x-response_time_sla: 800ms
      x-success_http_code: '200'
      x-expected_tps: '100'
      summary: Get registry coupons
      description: Api to get list of coupons associated for a given registry id
      tags:
        - registry_coupons
      parameters:
        - name: Authorization
          in: header
          description: bearer token
          required: true
          type: string
          format: string
          default: Bearer
        - name: key
          in: query
          description: The consumer's valid API key.
          required: true
          type: string
        - name: location_id
          in: query
          description: The store id
          required: false
          type: integer
          format: int32
        - name: registry_id
          in: path
          description: registry id
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: registry coupons transfer object
          schema:
            $ref: '#/definitions/RegistryCouponsTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error403'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/Error404'

  '/uploads':
    x-data_classification: PUBLIC
    post:
      x-incident_priority: P4
      x-response_time_sla: 800ms
      x-success_http_code: '200'
      x-expected_tps: '100'
      summary: Upload registry coupons
      description: Upload registry coupons
      tags:
        - registry_coupons
      consumes:
        - multipart/form-data
      parameters:
        - name: Authorization
          in: header
          description: bearer token
          required: true
          type: string
          format: string
          default: Bearer
        - name: key
          in: query
          description: The consumer's valid API key.
          required: true
          type: string
        - name: registry_type
          in: query
          description: The registry type for which coupons will be used
          enum: [ "BABY", "WEDDING"]
          required: true
          type: string
        - name: coupon_type
          in: query
          description: The registry coupon type
          enum: [ "ONLINE", "STORE"]
          required: true
          type: string
        - in: formData
          name: coupons_file
          type: file
          description: The coupons file to upload.
        - name: offer_id
          in: query
          description: Offer Id for the coupons
          required: true
          type: string
        - name: coupon_expiry_date
          in: query
          description: The coupon expiry date
          required: true
          type: string
      responses:
        '204':
          description: Void
          schema:
            $ref: '#/definitions/Void'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error403'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/Error404'

definitions:
  RegistryCouponsTO:
    required:
      - registry_id
      - registry_status
      - registry_type
    type: object
    properties:
      registry_id:
        type: string
        format: uuid
      registry_type:
        $ref: '#/definitions/RegistryType'
      registry_status:
        $ref: '#/definitions/RegistryStatus'
      coupon_count_down_days:
        type: integer
        format: int32
      coupons:
        type: array
        items:
          $ref: '#/definitions/CouponsTO'

  CouponsTO:
    required:
      - coupon_code
      - coupon_type
    type: object
    properties:
      coupon_code:
        type: string
      coupon_type:
        $ref: '#/definitions/CouponType'
      coupon_issue_date:
        type: string
      coupon_expiry_date:
        type: string
      coupon_state:
        $ref: '#/definitions/CouponRedemptionStatus'

  RegistryType:
    type: string
    enum:
      - BABY
      - WEDDING

  CouponType:
    type: string
    enum:
      - ONLINE
      - STORE

  RegistryStatus:
    type: string
    enum:
      - ACTIVE
      - INACTIVE

  CouponRedemptionStatus:
    type: string
    enum:
      - AVAILABLE
      - REDEEMED
      - EXPIRED

  Void:
    type: object
  Error401:
    type: object
    properties:
      message:
        type: string
        description: Authentication credentials were missing or incorrect
        example: Unauthorized
  Error400:
    type: object
    properties:
      message:
        type: string
        description: Invalid Request
        example: Bad Request
  Error403:
    type: object
    properties:
      message:
        type: string
        description: Forbidden Request
        example: Bad Request
  Error404:
    type: object
    properties:
      message:
        type: string
        description: URL requested is invalid or the resource requested does not exist
        example: Not Found
